RewriteEngine On 

RewriteCond %{THE_REQUEST}  ^(POST|GET)\s/public 
RewriteRule ^public/?(.*)$ https://%{HTTP_HOST}/$1 [R,L] 

RewriteCond %{REQUEST_URI}  ^/$ 
RewriteRule ^.*$ /public/$0 

RewriteCond %{REQUEST_URI}  !-f 
RewriteCond /public%{REQUEST_URI} -f 
RewriteRule ^.*$ /public/$0 

RewriteCond %{REQUEST_URI}  !-d 
RewriteCond /public%{REQUEST_URI} -d 
RewriteRule ^.*$ /public/$0 [L] 