<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="row[id]" value="{$row.id}">
    <div class="form-group">
        <label for="c-analyst_name" class="control-label col-xs-12 col-sm-2">名稱:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-analyst_name" data-rule="required" class="form-control" name="row[analyst_name]" type="text" value="{$row.analyst_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label for="autopred" class="control-label col-xs-12 col-sm-2">自動預測:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[autopred]', ['1'=> __('autopred 1'), '0'=> __('autopred 0')], $row['autopred'])} (若開啟,收費固定為"是")
        </div>
    </div>
    <div class="form-group">
        <label for="free" class="control-label col-xs-12 col-sm-2">收費:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[free]', ['0'=> __('free 0'), '1'=> __('free 1')], $row['free'])}
        </div>
    </div>
    <div class="form-group">
        <label for="eventcategory_id" class="control-label col-xs-12 col-sm-2">預測類別:</label>
        <div class="col-xs-12 col-sm-8" >
            <input id="eventcategory_id" data-source="event/eventcategory/index" data-field="title" class="form-control selectpage" name="row[eventcategory_id]" data-multiple="true" data-rule="required" type="text" value="{$eventcategory_id_selected}">
        </div>
    </div>
    <div class="form-group">
        <label for="status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['1'=> __('Status 1'), '0'=> __('Status 0')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
