<!-- <div class="container main-container homepage">
    <div class="row">
        {if $mNewArticle}
        <div class="col-xs-12">
            <div class="m_panel banner main_banner">
                <div class="col-xs-8">
                    {foreach $mNewArticle as $k=>$v}
                        <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_img_box" data-k="{$k}" style="background-image: url({$v->cover_img});{if $k != 0}display:none{/if}">
                            <span class="s_title">{$v->title}</span>
                        </a>
                    {/foreach}
                </div>
                <div class="col-xs-4 pabox blbox">
                    <h3>熱門文章</h3>
                    {foreach $mNewArticle as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        {if $mArticle1}
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>足球</h3>
                    {foreach $mArticle1 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        {if $mArticle2}
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>籃球</h3>
                    {foreach $mArticle2 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>棒球</h3>
                    {foreach $mArticle3 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
    </div>
</div> -->
<img src="__CDN__/assets/img/demo/home.jpg" style="width: 100%;"/>