<div class="container homepage">
    <div class="row">
        {if $mNewArticle}
        <div class="col-xs-9">
            <div class="m_panel banner main_banner">
                <div class="col-xs-8">
                    {foreach $mNewArticle as $k=>$v}
                        <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_img_box" data-k="{$k}" style="background-image: url({$v->cover_img});{if $k != 0}display:none{/if}">
                            <span class="s_title">{$v->title}</span>
                        </a>
                    {/foreach}
                </div>
                <div class="col-xs-4 pabox blbox">
                    <h3>熱門文章</h3>
                    {foreach $mNewArticle as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        <div class="col-xs-3">
            <div class="m_panel banner main_banner">
                <div class="col-xs-12 pabox">
                <h3>排行榜</h3>
                {if $mRankcontent}
                {foreach $mRankcontent as $k=>$v}
                    <a href="{:url('/index/analyst/profile/id/'.$v->analyst_id.'/pt/1')}?cat={$rcid}" class="a_title" >{$v->rank}.{$v->analyst_name}<span>({$v->win}勝-{$v->lose}敗/{$v->winrate}%)</span></a>
                {/foreach}
                {else/}
                <p>暫無排行{$rcid}</p>
                {/if}
                </div>
            </div>
        </div>
        {if $mArticle1}
        <div class="col-xs-12 col-sm-6">
            <div class="m_panel banner sub_banner">
                <div class="col-xs-6 pabox">
                    <h3>棒球</h3>
                    {foreach $mArticle1 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
                <div class="col-xs-6">
                    {foreach $mArticle1 as $k=>$v}
                        <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_img_box" data-k="{$k}" style="background-image: url({$v->cover_img});{if $k != 0}display:none{/if}">
                            <span class="s_title">{$v->title}</span>
                        </a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        {if $mArticle2}
        <div class="col-xs-12 col-sm-6">
            <div class="m_panel banner sub_banner">
                <div class="col-xs-6 pabox">
                    <h3>籃球</h3>
                    {foreach $mArticle2 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
                <div class="col-xs-6">
                    {foreach $mArticle2 as $k=>$v}
                        <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_img_box" data-k="{$k}" style="background-image: url({$v->cover_img});{if $k != 0}display:none{/if}">
                            <span class="s_title">{$v->title}</span>
                        </a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>