<div class="container main-container homepage">
    <div class="row">
        {if $mNewArticle}
        <div class="col-xs-12">
            <div id="home_banner" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {foreach $mNewArticle as $k=>$v}
                    <button type="button" data-bs-target="#home_banner" data-bs-slide-to="{$k}" {if $k == 0}class="active" aria-current="true"{/if} aria-label="Slide {$k+1}"></button>
                    {/foreach}
                </div>
                <div class="carousel-inner">
                    {foreach $mNewArticle as $k=>$v}
                    <div class="carousel-item {if $k == 0}active{/if}">
                        <img src="{$v->cover_img}" class="d-block w-100" alt="{$v->title}">
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        {if $mArticle1}
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>足球</h3>
                    {foreach $mArticle1 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
        {if $mArticle2}
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>籃球</h3>
                    {foreach $mArticle2 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="m_panel banner sub_banner">
                <div>
                    <h3>棒球</h3>
                    {foreach $mArticle3 as $k=>$v}
                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a_title" data-k="{$k}">{$v->title}</a>
                    {/foreach}
                </div>
            </div>
        </div>
        {/if}
    </div>
</div>