<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="m_panel service">
                <h2>服務條款</h2>
                <div>
                    <p>歡迎您加入「大贏家」會員並使用 大贏家 網站平台所提供之各項會員服務（以下簡稱「本服務」），當您註冊完成或開始使用「本服務」所提供之各項會員服務時，即視為您已經閱讀、瞭解並同意「本服務」條款（以下簡稱「本服務條款」），關於「本服務條款」係規範您與「本服務」所有人之契約。如果您不同意本約定書的內容，或者您所屬的國家或地域排除本約定書內容之全部或一部時，您應立即停止使用「本服務」。</p>
                    <p>如您是未滿二十歲之未成年人，則您必須在加入會員前將 「本服務條款」請您的父母或監護人閱讀，並得到其同意，才可以註冊及使用「本服務」。當您使用「本服務」時，即視為您的父母或監護人已經閱讀、瞭解並同意 「本服務條款」。</p>
                    <h3>說明與同意條款</h3>
                    <ul>
                        <li>當會員完成本公司網站之會員註冊手續或開始使用本網站服務時，即表示已閱讀並同意接受本網站服務條款之所有內容。</li>
                        <li>本公司有權於任何時間修改或變更本服務條款內容，修改後將公布本網站上， 本公司不再個別通知會員，建議會員隨時注意該等修改或變更。</li>
                        <li>會員於任何修改或變更後繼續使用本網站服務時，視為會員已瞭解並同意接受該等修改或變更。</li>
                        <li>若不同意上述的條款修訂或更新，或不接受本服務條款的任一約定，會員應立即停止使用本網站服務。</li>
                    </ul>
                    <h3>會員註冊</h3>
                    會員同意下列事項：<br>
                    <ul>
                        <li>依本網站註冊流程之提示，提供會員本人之正確、最新的資料，且不得以第三人之名義註冊為會員。每位會員僅能註冊登錄一個帳號，不可重覆註冊登錄，若經認定不適當，本站將予以凍結帳號或終止會員資格。</li>
                        <li>即時維持並更新會員個人資料，確保其正確性，以獲取最佳之服務。</li>
                        <li>若會員提供任何錯誤或不實的資料、或未按指示提供資料、或欠缺必要之資料、或有重覆註冊帳號等，本公司有權不經事先通知，逕行暫停或終止會員的帳號，並拒絕會員使用本網站服務。</li>
                    </ul>
                    <h3>會員服務</h3>
                    <ul>
                        <li>於您註冊程序完成並由「本服務」完成相關設定後，您即取得「本服務」會員之資格，您可以開始使用「本服務」。</li>
                        <li>當您成為「本服務」會員後而得使用之各項會員服務，其所有權仍屬「本服務」及其所約定之人所有，會員僅得依「本服務條款」之約定且限於本人使用，不得出租、出借、分享、移轉或讓與給其他第三人使用。</li>
                        <li>「本服務」有權增加、變更或取消會員服務中相關系統或功能之全部或一部之權利且無須個別通知會員；且有關現有或將來之各項服務均受「本服務條款」之規範。</li>
                    </ul>
                    <h3>會員帳號及密碼</h3>
                    <ul>
                        <li>您註冊完成後將會取得一組帳號及密碼，您有義務妥善保管您的帳號及密碼之機密與安全，不得洩漏給任何第三人。您必須為此組帳號及密碼之一切行為負責，此組帳號及密碼所做之一切行為即視為您本身之行為。本組帳號及密碼僅限於您個人使用，您不得出租、出借、移轉或讓與給其他第三人使用。</li>
                        <li>如您發現您的帳號及密碼遭盜用或其他不當使用，您必須立即通知「本服務」，以利「本服務」採取相關措施。但不得將「本服務」所採取之措施解釋為「本服務」對您有明示或默示擔保或賠償責任，對於您的帳號及密碼遭人非法使用，「本服務」亦不負任何賠償責任。</li>
                    </ul>
                    <h3>會員使用義務</h3>
                    會員同意絕不為任何非法目的或以任何非法方式使用本網站服務，並承諾遵守中華民國相關法規及一切使用網際網路之國際慣例。會員若為中華民國以外之使用者，並同意遵守所屬國家或地域之法令。會員同意並保證不得利用本網站服務從事侵害他人權益或違法之行為，包括下列事項，但不限於：<br>
                    <ul>
                        <li>公布或傳送任何不實、誹謗、侮辱、不雅、猥褻、具威脅性、攻擊性、違反公共秩序或善良風俗或其他任何不法之文字、圖片或任何形式的檔案資料。</li>
                        <li>刊載、傳輸、發送垃圾郵件、違法或未經本公司許可之訊息及廣告等；侵害毀損本公司或他人名譽、隱私權、營業機密、智慧財產權（商標權、著作權、專利權）及其他權利。</li>
                        <li>違反依法律或契約所應負之保密義務。</li>
                        <li>冒用他人名義使用本網站服務。</li>
                        <li>傳輸或散布電腦病毒、後門程式或影響本網站或其他使用者電腦之正常運作者。</li>
                        <li>其他不符本網站服務所提供的使用目的之行為，或本公司有正當理由認為不適當之行為。</li>
                    </ul>
                    <p>上述規定不代表「本服務」對會員傳送、張貼或發表之內容做任何形式或實質之審查，會員必須對自己所做之行為負責。如經「本服務」察覺或經他人申訴會員有違反上述各款之情事或之虞時，「本服務」除有權逕行移除或刪除該內容外，並有權終止或暫停該會員之會員資格及各項會員服務(包含凍結會員搞幣）。「本服務」如因此產生損害或損失，並得向該會員請求賠償（包括訴訟及律師費用）。
                    </p>
                    <h3>服務暫停或中斷</h3>
                    本公司將依一般合理之技術及方式，維持系統及服務之正常運作。但於以下各項情況時，本公司有權可以停止、中斷提供本網站服務：<br>
                    <ul>
                        <li>本公司網站電子通信設備進行必要之保養及施工時。</li>
                        <li>突發性之電子通信設備故障時。</li>
                        <li>本公司網站申請之電子通信服務被停止，無法提供服務時。</li>
                        <li>因天災等不可抗力之因素或其他不可歸責於本公司致使本網站無法提供服務時。</li>
                    </ul>
                    <h3>服務條款之增訂及修改</h3>
                    <p>本服務條款如有增訂或修改，本網站將不對會員個別通知。當您於本網站登入時，代表已同意此服務條款之規範。</p>
                    <h3>商品服務及規範</h3>
                    <p>
                    如果您透過「本服務」與網路上其他會員或業者進行商品或服務之買賣或各種交易行為，此時僅該會員或業者與您有契約關係存在，「本服務」並不介入或參與。如有該商品或服務有任何瑕疵或糾紛時，請您逕行與該會員或業者聯絡解決，「本服務」對此不負任何擔保責任。如果商品或服務是「本服務」所提供，則相關權利義務依各會員服務所訂定之相關規定辦理。
                    </p>
                    <h3>商品或服務之交易</h3>
                    <p>如果您透過「本服務」與網路上其他會員或業者進行商品或服務之買賣或各種交易行為，此時僅該會員或業者與您有契約關係存在，「本服務」並不介入或參與。如有該商品或服務有任何瑕疵或糾紛時，請您逕行與該會員或業者聯絡解決，「本服務」對此不負任何擔保責任。如果商品或服務是「本服務」所提供，則相關權利義務依各會員服務所訂定之相關規定辦理。
                    </p>
                    <h3>購買規範</h3>
                    <ul>
                        <li>所有在本服務網站所進行的線上消費，各項商品之所有權皆屬各該商品或服務的提供者，唯其交易行為及付款機制等係存在於本服務網站與使用者之間，本服務網站保留是否接受訂單之權利。
                        </li>
                        <li>相關商品或服務之品質、保固及售後服務，由提供各該商品或服務的提供者負責，但本服務網站將會全力協助使用者解決關於因為線上消費所產生之疑問或爭議。
                        </li>
                        <li>使用者資料（如地址、電話）如有變更時，應立即上線修正其所留存之資料，或通知本服務網站修正，且不得以資料不符為理由，否認其訂購行為或拒絕付款。
                        </li>
                        <li>所有在本服務網站所進行的線上消費，使用者應同意以本服務網站之交易紀錄為準，如有糾紛，並以該交易紀錄為認定標準。使用者如果發現交易紀錄不正確，應立即通知本服務網站。
                        </li>
                        <li>當使用者訂單成立之後，為確保為本人授權之交易，本服務網站得保留向持卡人索取信用卡背面簽名傳真與訂單確認傳真之權利。
                        </li>
                        <li>您瞭解所有大贏家點數，一經購買後，即表示您已經確認本服務所處理之結果，本公司無法進行回復、退費或轉讓等動作，而且大贏家點數之權利義務適用該本公司所有相關規定。同時，若是因為您的保管疏忽，而導致帳號、密碼遭他人非法使用時，本公司將不負責處理。若您於本服務中與他人為任何交易或互易行為，因此而產生的糾紛，本公司恕不負責，本公司亦無法進行回覆或退費等動作，但本服務可提供相關交易紀錄以供查詢。若本公司無法收到您經由線上刷卡或其他不是使用現金方式購買大贏家點數或其他商品的費用時，您同意本公司有權停止與該項交易相關之帳號。
                        </li>
                        <li>本服務之大贏家點數，交易僅提供會員於本服務平台上使用，任何會員不得於他途上私自販售，如私做實體點數卡，否則將有侵權行為，本公司得要求所有相關之損失及費用，其包括但不限於違約金、訴訟費、律師費、及和解金等相關費用。
                        </li>
                        <li>所有在本服務網站所進行的線上消費，如有消費爭議時，使用者同意將個人相關資料提供給第三方金流廠商，進行相關消費了解與查詢。
                        </li>
                    </ul>
                    <h3>補償</h3>
                    <p>您同意補償本公司及一切相關人員，因您違反相關法令或本規範所致生之一切損害及責任。</p>
                    <h3>風險</h3>
                    <p>請本諸謹慎、合於常理判斷、交易安全性 ( 包括但不限於對方交易者行為能力、身份真實性、與法定年齡以下之人交易、國際貿易等風險 ) 等的考量使用本服務。</p>
                    <h3>智慧財產權</h3>
                    <p>「本服務」上所提供的所有著作、資料、圖像及程式，其著作權、智慧財產、商標及所有權，皆屬均屬「本服務」或其他權利人所有，非經權利人事先書面授權同意，任何人不得擅自重製、傳輸、編輯或以其他任何形式加以使用或展示如有違反，除應自行負法律責任外，如因而對「本服務」造成損害或損失，「本服務」得向該會員請求損害賠償。
                    </p>
                        <h3>準據法及管轄法院</h3>
                        <p>關於「本服務條款」之解釋或適用，以中華民國之法律為準據法。<br>
                    會員因使用「本服務」而與「本服務」所生之爭議，同意本誠信原則解決之，如有訴訟之必要時，同意以台灣台北地方法院為第一審管轄法院。</p>
                </div>
            </div>
        </div>
    </div>
</div>