<div class="container main-container">
    <div class="row city_info">
        <div class="main_info">
            <div class="img_box" style="background-image: url('__CDN__/assets/img/city/bet365.png');"></div>
            <div class="review_box">
                <div class="review">推薦指數：<i>★★★★★</i></div>
                <h2>Bet365 台灣中文版</h2>
                <p>
                    Bet365是一家全球領先的線上賭場公司，成立於2000年，總部位於英國。Bet365台灣提供各種體育賽事的線上投注服務，包括足球，籃球，網球，運彩等等。Bet365提供線暢賭場投注項目，有線上真人撲克，彩票，運彩投注，電子老虎機等多項賭博遊戲。Bet365台灣中文版以其全面的運彩賽事，豐富的市場選擇和卓越的客戶服務而享譽全球。
                </p>
            </div>
        </div>
        <div class="city_info_box main">
            <h3>Bet365 詳情資訊</h3>
            <p>
                賭場名稱：Bet365<br>
                創立時間：2000年<br>
                賭場類型：現今版娛樂城<br>
                博弈執照：MGA認證、BVI認證、PAGCOR監督競猜牌照<br>
                遊戲類型：真人百家樂、運彩投注、電子老虎機、彩票遊戲、棋牌遊戲、捕魚機遊戲<br>
                存取速度：存款15秒 / 提款3-5分<br>
                中文合作平台：RG富遊<br>
            </p>
        </div>
        <div class="city_info_box">
            <h3>優點</h3>
            <p>
                國際知名品牌線上賭場<br>
                首儲1000贈1000<br>
                擁有體驗金免費體驗賭場<br>
                多款體育投注種類<br>
            </p>
        </div>
    </div>
</div>