<div class="container main-container">
    <div class="row city_rank">
        <div class="col-xs-12">
            <img style="width: 100%;" src="__CDN__/assets/img/city/rank_banner.png">
        </div>
        <div class="col-xs-12">
            <h2 class="blue-line-title">
                <hr>
                <span>大贏家推薦</span>
            </h2>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/bet365.png');"></div>
                    <div class="dec">
                        <div class="title">bet365 台灣中文版</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/fu.png');"></div>
                    <div class="dec">
                        <div class="title">富遊娛樂城</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/dg.png');"></div>
                    <div class="dec">
                        <div class="title">DG娛樂城</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/yb.png');"></div>
                    <div class="dec">
                        <div class="title">亞博娛樂城</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12">
            <h2 class="blue-line-title">
                <hr>
                <span>其他推薦</span>
            </h2>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/jj.png');"></div>
                    <div class="dec">
                        <div class="title">九州娛樂城</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/pm.png');"></div>
                    <div class="dec">
                        <div class="title">PM娛樂城</div>
                        <div class="review">推薦指數：★★★★★(5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/xbet.png');"></div>
                    <div class="dec">
                        <div class="title">1XBET娛樂城</div>
                        <div class="review">推薦指數：★★★★☆(4.8分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/king.png');"></div>
                    <div class="dec">
                        <div class="title">王者娛樂城</div>
                        <div class="review">推薦指數：★★★★☆(4.8分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/leo.png');"></div>
                    <div class="dec">
                        <div class="title">LEO娛樂城</div>
                        <div class="review">推薦指數：★★★★☆(4.8分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/gt539.png');"></div>
                    <div class="dec">
                        <div class="title">鋼鐵539</div>
                        <div class="review">推薦指數：★★★★☆(4.9分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/ww.png');"></div>
                    <div class="dec">
                        <div class="title">玩運彩</div>
                        <div class="review">推薦指數：★★★★☆(4.6分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/fa8.png');"></div>
                    <div class="dec">
                        <div class="title">FA8娛樂城</div>
                        <div class="review">推薦指數：★★★★☆(4分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/jx539.png');"></div>
                    <div class="dec">
                        <div class="title">今彩539</div>
                        <div class="review">推薦指數：★★★★☆(4分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/tha.png');"></div>
                    <div class="dec">
                        <div class="title">THA娛樂城</div>
                        <div class="review">推薦指數：★★★☆☆(3.5分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/fl.png');"></div>
                    <div class="dec">
                        <div class="title">發樂娛樂城</div>
                        <div class="review">推薦指數：★★★☆☆(3分)</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a class="city_item" href="#">
                    <div class="img_box" style="background-image: url('__CDN__/assets/img/city/blf.png');"></div>
                    <div class="dec">
                        <div class="title">包你發娛樂城</div>
                        <div class="review">推薦指數：★★☆☆☆(2分)</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>