<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h2>{$mArticle->title}</h2>
            <span>分類:{$mArticle->cat_name}</span>
            <span>作者:{$mArticle->nickname}</span>
            <span>
                <span id="fav_count">{$mArticle->fav}</span>人收藏
            </span>
            
            <a class="btn_set_fav" data-id="{$mArticle->id}" href="javascript:;">{if !$hasfav}收藏文章{else/}取消收藏{/if}</a>
            <div class="article_content_box">
                {$mArticle->content}
            </div>
            <div class="article_msg_box">
                {foreach $mArticlemsg as $v}
                    <div>
                        <span>{$v->msg}</span>
                        <span>{$v->nickname}</span>
                        <span>{$v->createtime|date='Y/m/d H:i:s',###}</span>
                    </div>
                {/foreach}
            </div>
            <div class="add_article_msg_box">
                <form id="add_msg_form">
                    <input type="hidden" id="article_id" value="{$mArticle->id}"/>
                    <textarea id="msg_content" class="form-control editor" name="msg_content"></textarea>
                    <a id="btn_add_msg" href="javascript:;">留言</a>
                </form>
            </div>
        </div>
        <div class="col-sm-7">
        </div>
    </div>
</div>