<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h2>{$ptitle}</h2>
            {if $mArticlecat}
                {if $mArticlecat->type == 1}
                <a href="{:url('/index/user/addarticle/cid/'.$cid)}">發表文章</a>
                {/if}
            {else/}
                <a href="{:url('/index/user/addarticle')}">發表文章</a>
            {/if}
            <div class="page">
                {$pagelist}
                <div>共 {$count} 則文章{if $pagelist}，目前在第 {$page} 頁{/if}</div>
            </div>
            {foreach $mArticle as $v}
            <a href="{:url('/index/article/detail/id/'.$v->id)}">
                <span>{$v->cat_name}</span>
                <h3>{$v->title}</h3>
            </a>
            {/foreach}
            <div class="page">
                {$pagelist}
                <div>共 {$count} 則文章{if $pagelist}，目前在第 {$page} 頁{/if}</div>
            </div>
        </div>
        <div class="col-sm-7">
        </div>
    </div>
</div>