<div class="article_full">
    <header class="article_hero">
        <div class="panel-default">
            <div class="fill bg-blur"><img class="lazy" src="{$mGodarticle->cover_img}" width="100%" height="100%"></div>
            <div class="mask"></div>
        </div>

        <div class="narrative">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel-default">
                            <div class="fill"><img src="{$mGodarticle->cover_img}">
                            </div>
                            <div class="mask"></div>
                        </div>
                        <div class="panel-content">
                            <div class="infon">
                                <div class="date">{$mGodarticle->createtime|date='Y/m/d',###}</div>
                            </div>
                            <h1>{$mGodarticle->title}</h1>
                            <p></p>
                            <div class="infon">
                                <div class="author_name">作者：<a href="#">{$mGodarticle->nickname}</a></div>
                            </div>
                            <div class="article-share">
                                <ul>
                                    <li class="as-fb">
                                        <div class="fb-like" data-href="{:url('/index/godarticle/detail/id/'.$mGodarticle->id)}" data-width="" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="article_top"></div>
    <section class="article">
        <div class="container relative">
            <div class="row">

                <div class="col-md-1 article_comment">
                    <div class="toolbox">
                        <a href="javascript:;" class="btn_set_fav" data-id="{$mGodarticle->id}">
                            <i class="fa fas fa-bookmark fa-2x"> <span>收藏</span></i>
                        </a>
                        <a href="javascript:;" class="btn_dotnet" data-id="{$mGodarticle->id}">
                            <i class="fa fas fa-dollar fa-2x"> <span>贊助</span></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="article-content">
                                {$mGodarticle->content}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="author_card">
                                <div class="author_default">
                                    <div class="author_pic">
                                        <a href="#">
                                            <img src="{$mGodarticle->avatar}" width="100%" alt="{$mGodarticle->nickname}">
                                        </a>
                                    </div>
                                    <div class="author_infon">
                                        <h4 class="name">{$mGodarticle->nickname}</h4>
                                    </div>
                                </div>
                                <div class="author_featured">
                                    <div class="title">最新文章</div>
                                    <ul class="item">

                                        <li><a href="https://www.sportsv.net/articles/95579">控球有潘威倫水準、指叉像羅力？從「洋將變本土」的高塩將樹有機會打中職嗎？</a>
                                        </li>

                                        <li><a href="https://www.sportsv.net/articles/94625">好不容易上2A卻被釋出？林凱威會是中職一軍守護神人選嗎？</a>
                                        </li>

                                        <li><a href="https://www.sportsv.net/articles/95559">2022中職測試會分析：曾品洋飆最快153！台大「學霸」左投頻頻被點名</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>