
<div class="container">
    <div class="m_panel">
        <section id="featured_lish">
            <div class="container">
                {foreach $mGodarticle as $v}
                <div class="row item">
                    <div class="col-md-6">
                        <div class="panel-default">
                            <a href="{:url('/index/godarticle/detail/id/'.$v->id)}">
                                <div class="fill"
                                    style="background-image:url({$v->cover_img});">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-content">
                            <div class="date">{$v->createtime|date='Y/m/d',###}</div>
                            <h2 class="title">
                                <a href="{:url('/index/godarticle/detail/id/'.$v->id)}">
                                    {$v->title}
                                </a>
                            </h2>
                            <div class="author">
                                <a href="#" class="author_name">{$v->nickname}</a>
                            </div>
                            <div class="view_content hide">
                                {$v->content}
                            </div>
                        </div>
                    </div>
                </div>
                {/foreach}
                <div class="page">
                    {$pagelist}
                </div>
            </div>
        </section>
    </div>
</div>