<link href="__CDN__/assets/css/ssv_style.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/ssv_style_cover
.css?v={$Think.config.site.version}" rel="stylesheet">
<div class="container">
    <section id="featured_lish">
        <div class="container">
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/95376">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/6/95376/fit-TVKqjNl5Wl-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2022/06/21</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/95376">
                                一人撐起整條打線，準名人堂球星大回春－Miguel Cabrera的重新綻放
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/u10605017" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/u10605017" class="author_name">爪迷傑森</a>
                            <a href="https://www.sportsv.net/articles/95376" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/detroittigers" class="tag-link">DetroitTigers</a>
                                </li>
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/spencertorkelson" class="tag-link">SpencerTorkelson</a>
                                </li>
                                <li>
                                    <a href="/tags/名人堂" class="tag-link">名人堂</a>
                                </li>
                                <li>
                                    <a href="/tags/3000安" class="tag-link">3000安</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/94294">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/4/94294/fit-kqKNAtPozT-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2022/05/13</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/94294">
                                Miguel Cabrera的心底秘話，帶著歡笑與淚水的三千安之旅
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/SportsVEditor" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/SportsVEditor" class="author_name">運動視界編輯</a>
                            <a href="https://www.sportsv.net/articles/94294" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/三千安" class="tag-link">三千安</a>
                                </li>
                                <li>
                                    <a href="/tags/mlb" class="tag-link">MLB</a>
                                </li>
                                <li>
                                    <a href="/tags/美國職棒大聯盟" class="tag-link">美國職棒大聯盟</a>
                                </li>
                                <li>
                                    <a href="/tags/alkaline" class="tag-link">AlKaline</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/93817">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/7/93817/fit-Zw3QpuKkng-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2022/04/25</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/93817">
                                大聯盟球探如何挖掘Miguel Cabrera 出身委內瑞拉的強打少年
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/derralchen1591887416" class="author_status"><img
                                    src="/statics/images/level-icon4.png" alt="名人堂" title="名人堂"></a>
                            <a href="https://www.sportsv.net/authors/derralchen1591887416" class="author_name">陳光立</a>
                            <a href="https://www.sportsv.net/articles/93817" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/卡布瑞拉" class="tag-link">卡布瑞拉</a>
                                </li>
                                <li>
                                    <a href="/tags/卡胖" class="tag-link">卡胖</a>
                                </li>
                                <li>
                                    <a href="/tags/3000安" class="tag-link">3000安</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                                <li>
                                    <a href="/tags/大聯盟" class="tag-link">大聯盟</a>
                                </li>
                                <li>
                                    <a href="/tags/委內瑞拉" class="tag-link">委內瑞拉</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/93718">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/8/93718/fit-7qPA60CECv-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2022/04/24</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/93718">
                                史上第33人，Miguel Cabrera 3000安達標！500轟－3000安史上第7人
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/SportsVEditor" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/SportsVEditor" class="author_name">運動視界編輯</a>
                            <a href="https://www.sportsv.net/articles/93718" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                                <li>
                                    <a href="/tags/三千安" class="tag-link">三千安</a>
                                </li>
                                <li>
                                    <a href="/tags/3000安" class="tag-link">3000安</a>
                                </li>
                                <li>
                                    <a href="/tags/mlb" class="tag-link">MLB</a>
                                </li>
                                <li>
                                    <a href="/tags/美國職棒大聯盟" class="tag-link">美國職棒大聯盟</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/87677">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/7/87677/fit-xHm0jLV1kT-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2021/08/26</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/87677">
                                曾經的「地表最強打者」！五個關於Cabrera全壘打的小知識
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/irving871016" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/irving871016" class="author_name">空條陳太郎</a>
                            <a href="https://www.sportsv.net/articles/87677" class="author_comments">
                                <i class="fa fa-comments"></i>3</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/mlb" class="tag-link">mlb</a>
                                </li>
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/500轟" class="tag-link">500轟</a>
                                </li>
                                <li>
                                    <a href="/tags/detroittigers" class="tag-link">DetroitTigers</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                                <li>
                                    <a href="/tags/3000安" class="tag-link">3000安</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/87617">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/7/87617/fit-8rhm9ixy8F-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2021/08/24</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/87617">
                                500轟！Miguel Cabrera成為球史第28人 下一位難見？大聯盟現今破400轟只有1人...
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/elvisweng1998" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/elvisweng1998" class="author_name">Elvis.</a>
                            <a href="https://www.sportsv.net/articles/87617" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/500轟" class="tag-link">500轟</a>
                                </li>
                                <li>
                                    <a href="/tags/老虎隊" class="tag-link">老虎隊</a>
                                </li>
                                <li>
                                    <a href="/tags/全壘打" class="tag-link">全壘打</a>
                                </li>
                                <li>
                                    <a href="/tags/miggy" class="tag-link">Miggy</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/77909">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/9/77909/fit-dq0bBwLaPD-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2021/06/01</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/77909">
                                【張尤金專欄】神鱒之前的「地表最強打者」，Miguel Cabrera令人瞠目結舌的神奇故事
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_status"><img
                                    src="/statics/images/level-role-icon3.png" alt="榮譽名人堂" title="榮譽名人堂"></a>
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_name">張尤金</a>
                            <a href="https://www.sportsv.net/articles/77909" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/trevorbauer" class="tag-link">TrevorBauer</a>
                                </li>
                                <li>
                                    <a href="/tags/貝比魯斯" class="tag-link">貝比魯斯</a>
                                </li>
                                <li>
                                    <a href="/tags/mlb" class="tag-link">MLB</a>
                                </li>
                                <li>
                                    <a href="/tags/美國職棒大聯盟" class="tag-link">美國職棒大聯盟</a>
                                </li>
                                <li>
                                    <a href="/tags/全壘打" class="tag-link">全壘打</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎隊" class="tag-link">底特律老虎隊</a>
                                </li>
                                <li>
                                    <a href="/tags/克利夫蘭印地安人隊" class="tag-link">克利夫蘭印地安人隊</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/75453">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/3/75453/fit-47RAEW6EQ3-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2020/07/09</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/75453">
                                轟動武林，驚動萬教！－回顧那年震撼全聯盟的Miguel Cabrera交易案！
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/u10605017" class="author_status"><img
                                    src="/statics/images/level-icon3.png" alt="大聯盟" title="大聯盟"></a>
                            <a href="https://www.sportsv.net/authors/u10605017" class="author_name">爪迷傑森</a>
                            <a href="https://www.sportsv.net/articles/75453" class="author_comments">
                                <i class="fa fa-comments"></i>2</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                                <li>
                                    <a href="/tags/邁阿密馬林魚" class="tag-link">邁阿密馬林魚</a>
                                </li>
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/andrewmiller" class="tag-link">AndrewMiller</a>
                                </li>
                                <li>
                                    <a href="/tags/交易案回顧" class="tag-link">交易案回顧</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/49869">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/9/49869/fit-dTmBzbIfPc-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2018/03/25</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/49869">
                                廣角打法的極致，Miguel Cabrera重現全盛期的高難度全壘打！
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_status"><img
                                    src="/statics/images/level-role-icon3.png" alt="榮譽名人堂" title="榮譽名人堂"></a>
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_name">張尤金</a>
                            <a href="https://www.sportsv.net/articles/49869" class="author_comments">
                                <i class="fa fa-comments"></i>2</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/jakearrieta" class="tag-link">JakeArrieta</a>
                                </li>
                                <li>
                                    <a href="/tags/廣角打法" class="tag-link">廣角打法</a>
                                </li>
                                <li>
                                    <a href="/tags/miggy" class="tag-link">Miggy</a>
                                </li>
                                <li>
                                    <a href="/tags/老虎" class="tag-link">老虎</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>
            <div class="row item">
                <div class="col-md-6">
                    <div class="panel-default">
                        <a href="https://www.sportsv.net/articles/39336">
                            <div class="fill"
                                style="background-image:url(https://img.sportsv.net/img/article/cover/6/39336/fit-9U75IGblwi-555x285.jpg);">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-content">
                        <div class="date">2017/03/14</div>

                        <h2 class="title">
                            <a href="https://www.sportsv.net/articles/39336">
                                天生英雄命--Miguel Cabrera
                            </a>
                        </h2>
                        <div class="author">
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_status"><img
                                    src="/statics/images/level-role-icon3.png" alt="榮譽名人堂" title="榮譽名人堂"></a>
                            <a href="https://www.sportsv.net/authors/eugeneychang" class="author_name">張尤金</a>
                            <a href="https://www.sportsv.net/articles/39336" class="author_comments">
                                <i class="fa fa-comments"></i>0</a>
                        </div>

                        <div id="tags">
                            <ul class="tagcloud-list">
                                <li>
                                    <a href="/tags/miguelcabrera" class="tag-link">MiguelCabrera</a>
                                </li>
                                <li>
                                    <a href="/tags/經典賽" class="tag-link">經典賽</a>
                                </li>
                                <li>
                                    <a href="/tags/委內瑞拉" class="tag-link">委內瑞拉</a>
                                </li>
                                <li>
                                    <a href="/tags/底特律老虎" class="tag-link">底特律老虎</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>


            </div>



            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-arrow-left"></i></a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>

                            <li>
                                <a href="https://www.sportsv.net/feature/legendofMiguelCabrera?page=2">2</a>
                            </li>

                            <li>
                                <a href="https://www.sportsv.net/feature/legendofMiguelCabrera?page=2">
                                    <i class="fa fa-fw fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>