{__NOLAYOUT__}
{if $mEventcategory}
    <h3>預測類別</h3>
    <div class="check_style">
        {foreach $mEventcategory as $v}
        <a href="{:url('/index/analyst/profile/id/'.$id.'/pt/1')}?cat={$v->id}&sdate={$sdate}" class="{if $v->id == $cat_id}active{/if}">{$v->title}</a>
        {/foreach}
    </div>
{/if}
<h3>獲利專區</h3>
<div class="flex_box">
    <div class="check_style">
        {foreach $datelist as $k=>$v}
        <a href="{:url('/index/analyst/profile/id/'.$id.'/pt/1')}?cat={$cat_id}&sdate={$k}" class="{if $k == $sdate}active{/if}">{$v}</a>
        {/foreach}
    </div>
</div>
<div class="table-row">
    <table class="table pred_list">
        <thead>
            <tr>
                <th width="100px">比賽時間</th>
                <th style="text-align: right;">比分</th>
                <th>隊伍</th>
                <th width="100px">預測</th>
                <th>結果</th>
            </tr>
        </thead>
        <tbody>
            {if $mPred}
            {foreach $mPred as $v}
            <tr>
                <td>{$v->starttime|date='Y/m/d H:i',###}</td>
                <td style="text-align: right;">{$v->score_str}</td>
                <td>{$v->event_str}</td>
                <td>{if $v->per}{$v->pred_str}{else/}未購買{/if}</td>
                <td>{$v->comply_str}</td>
            </tr>
            {/foreach}
            {else/}
                <tr>
                    <td colspan="5">此分類尚無預測</td>
                </tr>
            {/if}
        <tbody>
    </table>
</div>
<div style="text-align: center;">
    {if $buy_btn}
    <span class="costprice">
        <b>100</b>&nbsp;點
    </span>
    &nbsp;&nbsp;&nbsp;
    <a href="javascript:;" class="btn btn_buy_pred btn_buy_analyst_pred" data-id="{$id}" data-cat_id="{$cat_id}">購買預測</a>
    {/if}
</div>
<h3>歷史戰績</h3>
<div class="table-row">
    <table class="table pred_list">
        <thead>
            <tr>
                <th width="100px">比賽時間</th>
                <th style="text-align: right;">比分</th>
                <th>隊伍</th>
                <th width="100px">預測</th>
                <th>結果</th>
            </tr>
        </thead>
        <tbody>
            {if $count > 0}
            {foreach $mHPred as $v}
            <tr>
                <td>{$v->starttime|date='Y/m/d H:i',###}</td>
                <td style="text-align: right;">{$v->score_str}</td>
                <td>{$v->event_str}</td>
                <td>{$v->pred_str}</td>
                <td>{$v->comply_str}</td>
            </tr>
            {/foreach}
            {else/}
            <tr>
                <td colspan="5">此分類無預測紀錄</td>
            </tr>
            {/if}
        <tbody>
    </table>
    <div class="page">
        {$pagelist}
        <div>總筆數共 {$count} 筆{if $pagelist}，目前在第 {$page} 頁{/if}</div>
    </div>
</div>