<div class="container analyst">
    <div class="row">
        <div class="col-md-3 left_box">
            <div class="photoframe">
                <img src="{$mAnalyst->avatar|cdnurl}">
            </div>
            <p class="memberidname">{$mAnalyst->analyst_name}</p>
            <ul class="mu">
                <li><a href="{:url('/index/analyst/profile/id/'.$mAnalyst->id.'/pt/1')}">預測</a></li>
            </ul>
        </div>
        <div class="col-md-9 right_box">
            <div class="box1">
                {if $buy_btn}
                    <a href="javascript:;" class="btn btn-info btn_analyst_pred_all" data-id="{$mAnalyst->id}">購買</a>
                {else/}
                
                {/if}
                {$content}
            </div>
        </div>
    </div>
</div>