<div class="container analyst">
    <div class="row">
        <div class="col-md-3 left_box">
            <div class="photoframe">
                <img src="{$mAnalyst->avatar|cdnurl}">
            </div>
            <p class="memberidname">{$mAnalyst->analyst_name}</p>
            <p class="analysttitle_text">{$analysttitle}</p>
            <ul class="mu hide">
                <li class="{if $pt == 1}active{/if}"><a href="{:url('/index/analyst/profile/id/'.$mAnalyst->id.'/pt/1')}">預測</a></li>
            </ul>
        </div>
        <div class="col-md-9 right_box">
            <div class="box1">
                {$content}
            </div>
        </div>
    </div>
</div>