<meta charset="utf-8">
<title>{$title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">

{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v14.0&appId=535408187578330&autoLogAppEvents=1" nonce="E9jvl0ei"></script>
        
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />

<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/ps_style.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/ps_style2.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/ps_style3.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/ps_style_cover.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/all.css?v={$Think.config.site.version}" rel="stylesheet">

<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>