<meta charset="utf-8">
<title>{$title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,maximum-scale=5.0,minimum-scale=1.0,viewport-fit=cover">
<meta name="format-detection" content="telephone=no">

{if isset($keywords)}
<meta name="keywords" content="{$keywords}">
{/if}
{if isset($description)}
<meta name="description" content="{$description}">
{/if}
<link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />


<link href="__CDN__/assets/libs/bootstrap-5.0.0-dist/css/bootstrap.min.css" rel="stylesheet" >
<link href="__CDN__/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" >
<link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<link href="__CDN__/assets/css/all.css?v={$Think.config.site.version}" rel="stylesheet">

<script type="text/javascript">
    var require = {
        config: {$config|json_encode}
    };
</script>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v14.0&appId=535408187578330&autoLogAppEvents=1" nonce="E9jvl0ei"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5761009441604201"
     crossorigin="anonymous"></script>