<div class="sidenav" id="sidebar-nav">
    {:hook('user_sidenav_before')}
    <ul class="list-group">
        <li class="list-group-item {:check_nav_active('user/profile')}"> <a href="{:url('user/profile')}">個人資料</a> </li>
        <li class="list-group-item {:check_nav_active('user/myhome')} hide"> <a href="{:url('user/myhome')}">個人首頁</a> </li>
        <li class="list-group-item {:check_nav_active('user/notify')}"> <a href="{:url('user/notify')}">通知</a> </li>
        <!-- <li class="list-group-item {:check_nav_active('user/favorites')}"> <a href="{:url('user/favorites')}">收藏的文章</a> </li>
        <li class="list-group-item {:check_nav_active('user/article')}"> <a href="{:url('user/article')}">發表的文章</a> </li> -->
        <li class="list-group-item {:check_nav_active('user/favoritesg')}"> <a href="{:url('user/favoritesg')}">收藏的專欄</a> </li>
        {if $user->isgod}
        <li class="list-group-item {:check_nav_active('user/godarticle')}"> <a href="{:url('user/godarticle')}">發表的專欄</a> </li>
        {/if}
        <!-- <li class="list-group-item {:check_nav_active('user/analysttitle')}"> <a href="{:url('user/analysttitle')}">我的稱號</a> </li> -->
        <li class="list-group-item {:check_nav_active('user/buypoint')}"> <a href="{:url('user/buypoint')}">儲值點數</a> </li>
        <li class="list-group-item {:check_nav_active('user/logout')}"> <a href="{:url('user/logout')}">登出</a> </li>
    </ul>
    {:hook('user_sidenav_after')}
</div>
