<div class="sidenav" id="sidebar-nav">
    {:hook('user_sidenav_before')}
    <ul class="list-group">
        <li class="list-group-item {:check_nav_active('user/profile')}"> <a href="{:url('user/profile')}">個人資料</a> </li>
        <li class="list-group-item {:check_nav_active('user/myhome')} hide"> <a href="{:url('user/myhome')}">個人首頁</a> </li>
        <li class="list-group-item {:check_nav_active('user/notify')}"> <a href="{:url('user/notify')}">通知</a> </li>
        <li class="list-group-item {:check_nav_active('user/favorites')}"> <a href="{:url('user/favorites')}">收藏的文章</a> </li>
        <li class="list-group-item {:check_nav_active('user/article')}"> <a href="{:url('user/article')}">發表的文章</a> </li>
        <li class="list-group-item {:check_nav_active('user/pred')}"> <a href="{:url('user/pred')}">我要預測</a> </li>
        <li class="list-group-item {:check_nav_active('user/buypoint')}"> <a href="{:url('user/buypoint')}">儲值點數</a> </li>
        <li class="list-group-item {:check_nav_active('user/logout')}"> <a href="{:url('user/logout')}">登出</a> </li>
    </ul>
    {:hook('user_sidenav_after')}
</div>
