<div class="container main-container">
    <div class="row article_detail">
        {if $mGodarticle->video_url}
            <div class="img_box">
                <iframe class="video_player" src="{$mGodarticle->video_url}?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
        {else/}
            <div class="img_box" style="background-image: url({$mGodarticle->cover_img});">
                
            </div>
        {/if}
        <h1>{$mGodarticle->title}</h1>
        <div class="fb-like" data-href="{:url('/index/godarticle/detail/id/'.$mGodarticle->id)}" data-width="" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        <div class="article_detail_content">
            <span>觀看次數:{$mGodarticle->views}次．1天前</span>
            <div class="article-content">
                {$mGodarticle->content}
            </div>
        </div>
        
        <div class="article_cat_list">
            <div class="col-xs-12">
                <h2>
                    <hr>
                    <span>{$list['title']}</span>
                </h2>
            </div>
            <div id="slider_1" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="false" data-bs-interval="false">
                <div class="carousel-inner">
                    {foreach $list['list'] as $k=>$v}
                        {if $k%3 == 0 || $k == 0} 
                        <div class="carousel-item {if $k == 0}active{/if}">
                        {/if}
                            <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a-btn article_list_item col-xs-4">
                                {if $v->video_url}
                                    <div class="img_box">
                                        <iframe class="video_player" src="{$v->video_url}?autoplay=0&controls=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {else/}
                                    <div class="img_box" style="background-image: url({$v->cover_img});">
                                        
                                    </div>
                                {/if}
                                <div class="content_box">
                                    <h3>{$v->title}</h3>
                                    <span>觀看次數:{$v->views}次．1天前</span>
                                </div>
                            </a>
                        {if ($k+1)%3 == 0 || $k == (sizeof($list['list'])-1)} 
                        </div>
                        {/if}
                    {/foreach}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#slider_1" data-bs-slide="prev">
                    &lt;
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#slider_1" data-bs-slide="next">
                    &gt;
                </button>
            </div>
        </div>
    </div>
    <div class="reply">
        <div class="title">讀者回應</div>
        <textarea class="msg_box"></textarea>
    </div>
</div>