<div class="container main-container">
    <div class="row article_detail">
        {if $mGodarticle->video_url}
            <div class="img_box">
                <iframe class="video_player" src="{$mGodarticle->video_url}?autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
        {else/}
            <div class="img_box auto">
                <img src="{$mGodarticle->cover_img}" />
            </div>
        {/if}
        <h1>{$mGodarticle->title}</h1>
        <div class="fb-like" data-href="{:url('/index/godarticle/detail/id/'.$mGodarticle->id)}" data-width="" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
        <div class="article_detail_content">
            <span>觀看次數:{$mGodarticle->views}次．{$mGodarticle->timeDescribe}</span>
            <div class="article-content">
                {$mGodarticle->content}
            </div>
        </div>
        
        <div class="article_cat_list">
            <div class="col-xs-12">
                <h2 class="blue-line-title">
                    <hr>
                    <span>{$list['title']}</span>
                </h2>
            </div>
            <div class="col-xs-12">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {foreach $list['list'] as $k=>$v}
                            <div class="swiper-slide">
                                <a href="{:url('/index/godarticle/detail/id/'.$v->id)}" class="a-btn article_list_item">
                                    {if $v->video_url}
                                        <div class="img_box">
                                            <iframe class="video_player" src="{$v->video_url}?autoplay=0&controls=0&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    {else/}
                                        <div class="img_box" style="background-image: url({$v->cover_img});">
                                            
                                        </div>
                                    {/if}
                                    <div class="content_box">
                                        <h3>{$v->title}</h3>
                                        <span>觀看次數:{$v->views}次．{$v->timeDescribe}</span>
                                    </div>
                                </a>
                            </div>
                        {/foreach}
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="reply hide">
        <div class="title">讀者回應</div>
        <textarea class="msg_box"></textarea>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const swiper = new Swiper('.swiper', {
            loop: false,
            slidesPerView: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                992: {
                    slidesPerView: 3,
                }
            },
            // on: {
            //     reachEnd: function () {
            //         const newSlides = '<div class="swiper-slide">New Content</div>';
            //         swiper.appendSlide(newSlides);
            //         swiper.update();
            //     },
            // }
        });
    });
</script>