body{
    padding-top: 152px;
    background-color: #dfdfdf;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    font-size: 16px;
}
.navbar-brand{
    padding: 6px;
    height: auto;
}
.navbar-brand > img{
    display: block;
    width: 200px;
    height: auto;
}
.navbar-inverse{
    border-top: 2px #005d9b solid;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 rgb(34 38 46 / 10%);
}
.menu_list{
    margin-bottom: 3px;
    margin-top: 8px;
}
.menu_list a{
    font-size: 18px;
    color: #6d6d6d;
    display: inline-block;
    margin-right: 10px;
}
.menu_list a:hover{
    color: #34568b;
    text-decoration: unset;
}
.haderline{
    border-top: 1px solid #ccc;
    margin: 0;
}
.navbar-inverse .navbar-nav > li > a{
    padding: 25px 10px;
    font-size: 30px;
    color: #ccc;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #005d9b!important;
}
.navbar-inverse .navbar-nav > li > a.btn_notify:focus,
.navbar-inverse .navbar-nav > li > a.btn_notify:hover{
    color: #ccc!important;
}
a.user_btn.active{
    color: #005d9b!important;
}

.info_list a{
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}

.footer_top{
    display: flex
}

footer.footer{
    background: #22262e;
    margin: 0;
}

.fb_like{
    display: flex;
    line-height: 28px;
    font-size: 20px;
    color: #cbc7c7;
    padding: 15px 0 6px;
}
.fb_like>b{
    margin-top: -4px;
    margin-right: 15px;
}

.info_list{
    line-height: 28px;
    font-size: 20px;
    color: #cbc7c7;
    padding: 10px 5px;
    font-weight: bold;
}
.info_list>a{
    vertical-align: middle;
    color: #cbc7c7;
}
.info_list>a:hover{
    color: #959595!important;
}

.footer_bottom{
    background: #22262e;
    border-top: 1px #fff solid;
    padding: 10px 0;
}
.footer_bottom>p{
    background: #22262e;
    text-align: left;
    font-size: 18px;
    color: #cbc7c7; 
    margin-bottom: 0;
}
.footer_bottom p a{
    color: #fff!important;
}

.m_panel{
    background-color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 0 rgb(34 38 46 / 10%);
}

.m_panel h2:not(.title){ 
    border-bottom: 1px #ababab solid;
    margin: 0;
    font-weight: bold;
    padding: 15px 15px 10px;
}

h2:not(.title)>a{ 
    background-color: #71ace6;
    color: #fff!important;
    font-size: 14px;
    float: right;
    margin-top: -4px;
}
.article_list{
    padding: 0;
    margin: 0;
}
.article_list li{
    display: flex;
    border-bottom: 1px #e5fbff solid;
}
.article_list li>div{
    padding: 10px;
}
.article_list li>div.left_box{
    line-height: 50px;
}
.article_list li>div.center_box{
    width: 100%;
    line-height: 50px;
    word-break: break-word;
}
.article_list li>div.center_box a{
    font-size: 20px;
    color: #6d6d6d;
    display: block;
    height: 100%;
}
.article_list li>div.center_box a:hover{
    color: #1f449b!important;
}
.article_list li>div.msgc_box{
    text-align: center;
    width: 100px;
}
.article_list li>div.msgc_box b{
    font-size: 20px;
    display: block;
}
.article_list li>div.right_box{
    width: 230px;
    padding: 11px 10px;
}
.article_list li h3{
    margin: 0;
    display: inline-block;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.1;
}
.page{
    text-align: center;
}
.pagination > li > a, .pagination > li > span{
    margin: 0 2px;
    background: none;
    border: 0;
    border-bottom: 1px #c6c6c6 solid;
    font-size: 14px;
    border-radius: unset;
}
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset;
    margin: 0 2px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: unset;
    margin: 0 2px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background: none;
    color: #214495;
    font-weight: bold;
    border-bottom: 2px #214495 solid;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
    background: none;
    color: #214495;
    font-weight: bold;
    border-bottom: 2px #214495 solid;
}
.avatar_img{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    display: inline-block!important;
    vertical-align: middle;
    border-radius: 50px;
}
.article_main{
    display: flex!important;
    border-bottom: 1px #e5fbff solid;
}
.article_main .avatar_img{
    width: 70px;
    height: 70px;
}
.article_main .left_box{
    width: 150px;
    text-align: center;
    padding: 10px;
}
.article_main .left_box>div{
    margin-bottom: 10px;
}
.article_main .right_box{
    width: 100%;
    /* border-left: 1px #3d35bb  solid; */
    min-height: 500px;
}
.article_main .right_box .a_header{
    border-bottom: 1px #ccc solid;
    padding: 0;
    display: flex;
}
.article_main .right_box .a_header h2:not(.title){
    border: 0;
    width: 100%;
}
.article_main .right_box .a_header .fav_box{
    width: 500px;
    padding: 0 18px;
    font-size: 18px;
    text-align: right;
    line-height: 56px;
}
.article_main .right_box .a_header .fav_box>span{
    vertical-align: middle;
    margin-right: 15px;
    margin-top: 3px;
    display: inline-block;
}
.article_main .right_box .a_header .fav_box .btn{
    background-color: #1f449b;
    border-color: #1f449b;
    color: #fff;
}
.article_main .right_box .a_header .fav_box .btn_edit.btn{
    background-color: #3498db;
    border-color: #3498db;
    color: #fff;
}
.article_main .right_box .article_content_box{
    padding: 15px;
}
.article_img_box img,
.article_content_box img{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.article_msg h4{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
    line-height: 1.1;
    border-bottom: 1px #ccc solid;
    display: block;
}
.article_msg .add_article_msg_box{
    padding: 15px;
}
.article_msg h5{
    background: none;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article_msg_box{
    border-bottom: 1px #ccc solid;
}
.article_msg_box .article_main .right_box{
    min-height: auto;
}
.user-section{
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto 50px 70px;
    width: 600px;
}
.login-section .logon-tab > a{
    color: #ab9258;
    font-weight: bold;
}
.login-section .logon-tab > a:hover{
    background-color: #1f449b;
    color: #fff;
}
.login-section .logon-tab > a.active{
    background-color: #ffffff;
    color: #1464c4;
}
.btn-primary{
    color: #fff;
    background-color: #71ace6;
    border-color: #71ace6;
}
.btn-primary:hover{
    background-color: #1f449b;
    border-color: #1f449b;
}
.form-control{
    color: #1f449b;
    background-color: #fff;
    border: 1px solid #71ace6;
}
.sidenav .list-group .list-group-item > a{
    font-weight: bold;
    font-size: 16px;
}
.sidenav .list-group .list-group-item.active > a{
    color: #1f449b;
}
.sidenav .list-group .list-group-item.active{
    border-left: 2px solid #1f449b;
}
.contact p{
    padding: 15px;
    font-size: 16px;
}
.homepage .row{
    margin-left: -5px;
    margin-right: -5px;
}
.homepage [class *='col']{
    padding-left: 5px;
    padding-right: 5px;
}

.m_panel.banner {
    display: flex;
    width: 100%;
    min-height: 240px;
}
.m_panel.banner.main_banner {
    min-height: 340px;
}
.m_panel.banner .left_box,
.m_panel.banner .right_box{
    padding: 10px;
    width: 100%;
    min-height: 240px;
    position: relative;
}
.m_panel.banner h3{
    margin: 0;
    border-bottom: 3px #1f449b solid;
    padding-top: 5px;
    padding-bottom: 3px;
}

.m_panel.banner.main_banner .left_box{
    padding: 0;
    width: 60%;
}
.m_panel.banner.main_banner .right_box{
    width:40%;
}

.m_panel.banner.sub_banner .left_box{
    width:50%;
}
.m_panel.banner.sub_banner .right_box{
    padding: 0;
    width: 50%;
}

.m_panel.banner a.a_title{
    line-height: 35px;
    font-size: 18px;
    color: #717474;
    border-bottom: 1px #ccc solid;
    padding: 0 5px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.m_panel.banner a.a_img_box{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.m_panel.banner a.a_img_box::before{
    content: "";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
180deg,transparent,rgba(0,0,0,.9));
}
.m_panel.banner span.s_title{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    padding: 15px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.m_panel.banner.sub_banner span.s_title{
    -webkit-line-clamp: 3;
    font-size: 16px;
    line-height: 22px;
}

#toast-container{
    z-index: 999999999999;
}


.check_style .radio,
.check_style .checkbox,
.check_style a{
  padding: 0;
  margin-bottom: 5px;
  text-decoration: none;
}
.check_style .radio input[type="radio"],
.check_style .radio-inline input[type="radio"],
.check_style .checkbox input[type="checkbox"],
.check_style .checkbox-inline input[type="checkbox"]{
  display: none;
}
.check_style .radio label,
.check_style .checkbox label,
.check_style a{
  padding: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px #7ca7c3 solid;
  color: #005d9b;
  padding: 0 5px;
  text-align: center;
  background: #fff;
  box-shadow: 1px 1px 1px #7ca7c3;
  font-weight: bold;
  line-height: 28px;
  padding: 0 10px;
  display: inline-block;
}
.check_style .radio label.active,
.check_style .checkbox label.active,
.check_style a.active,
.check_style a:hover{
  color: #fff;
  background: #005d9b;
  box-shadow: 1px 1px 1px #005d9b;
  border: 2px #005d9b solid;
} 

.check_style .radio label.dis,
.check_style .checkbox label.dis,
.check_style a.dis{
    color: #afb6bb;
    background: #fff;
    box-shadow: 1px 1px 1px #afb6bb;
    border: 2px #afb6bb solid;
} 

.check_style .radio label.dis.active,
.check_style .checkbox label.dis.active,
.check_style a.dis.active,
.check_style a.dis:hover{
    color: #fff;
    background: #606060;
    box-shadow: 1px 1px 1px #606060;
    border: 2px #606060 solid;
} 


.flex_box{
    display: flex!important;
}

.box1 h3{
    font-size: 18px;
    font-weight: bold;
    color: #b19b61;
}
a.btn_buy_pred:link{
    height: 34px;
    font-size: 17px;
    line-height: 30px;
    border: 1px solid #c7ad00;
    color: #000;
    padding: 0 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #ffde00;
    background: -webkit-linear-gradient(bottom,#ffe412 00%,#ffd806 51%,#ffe513 51%,#ffee01 99%);
    background: -moz-linear-gradient(bottom,#ffe412 00%,#ffd806 51%,#ffe513 51%,#ffee01 99%);
    background: -o-linear-gradient(bottom,#ffe412 00%,#ffd806 51%,#ffe513 51%,#ffee01 99%);
    background: -ms-linear-gradient(bottom,#ffe412 00%,#ffd806 51%,#ffe513 51%,#ffee01 99%);
    background: -linear-gradient(bottom,#ffe412 00%,#ffd806 51%,#ffe513 51%,#ffee01 99%);
}
a.btn_buy_pred:link:hover{
    color: #000;
    border: 1px solid #c7ad00;
    background: -webkit-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -moz-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -o-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -ms-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
}
a.btn_buy_pred:link:active{
    color: #000;
    border: 1px solid #c7ad00;
    -moz-box-shadow: inset 0 0 3px 0 #7f6e00;
    -webkit-box-shadow: inset 0 0 3px 0 #7f6e00;
    box-shadow: inset 0 0 3px 0 #7f6e00;
    background: -webkit-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -moz-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -o-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -ms-linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
    background: -linear-gradient(bottom,#ffed26 00%,#ffd20c 51%,#ffed26 51%,#ff0 99%);
}

.analyst_list{
    min-height: 500px;
}
.analyst_list>li>a{
    display: flex;
    text-decoration: none!important;
    padding: 0px 8px 8px;
    border-right: 1px #c6c6c6 solid;
    border-bottom: 1px #c6c6c6 solid;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -webkit-transition: margin .2s ease-out;
    -o-transition: margin .2s ease-out;
    -ms-transition: margin .2s ease-out;
}
.analyst_list>li:hover>a{
    border-right: 2px #005d9b solid;
    border-bottom: 2px #005d9b solid;
    margin-left: 20px;
}
.analyst_list>li>a .photoframe{
    width: 70px;
    height: 70px;
    background-size: cover;
    padding: 8px;
    margin: 0;
}
.analyst_list>li>a .photoframe img{
    height: 55px;
    width: 55px;
}
.analyst_list>li>a h4{
    font-weight: bold;
    padding: 0 15px;
    margin: 0;
    line-height: 37px;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a.user_btn.text_btn{
    font-size: 20px;
    line-height: 31px;
    color: #19409b;
    letter-spacing: -2px;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a.user_btn.text_btn:hover{
    
    font-size: 24px;
}

.point_item>a.btn{
    background: #005d9b;
    border-radius: 6px;
    margin: 5px;
}
.point_item>a.btn:hover,
.point_item>a.btn:active {
    background: #0785d9;
}

.costprice{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}
.costprice b{
    font-size: 26px;
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #005d9b;
    background-color: #005d9b;
    color: #fff;
}
.layui-layer-btn a{
    line-height: 26px;
}

.page-header>span{
    font-size: 16px;
    font-style: italic;
    color: #a7985b;
}

.pred_radio label{
    cursor: pointer;
    background: -webkit-linear-gradient(bottom,#f3f3f3 00%,#fdfcfc  51%,#fff  51%,#fefefe 99%);
    background: -moz-linear-gradient(bottom,#f3f3f3  00%,#fdfcfc  51%,#fff  51%,#fefefe 99%);
    background: -o-linear-gradient(bottom,#f3f3f3  00%,#fdfcfc  51%,#fff  51%,#fefefe 99%);
    background: -ms-linear-gradient(bottom,#f3f3f3  00%,#fdfcfc  51%,#fff  51%,#fefefe 99%);
    background: -linear-gradient(bottom,#f3f3f3  00%,#fdfcfc  51%,#fff  51%,#fefefe 99%);
    border: 1px #ccc solid;
    border-radius: 3px;
    width: 80%;
    padding: 3px 12px;
}
.pred_radio label:hover{
    background: -webkit-linear-gradient(bottom,#caf37d 00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -moz-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -o-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -ms-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
}
.pred_radio label.active,
.pred_radio label:active{
    -moz-box-shadow: inset 0 0 3px 0 #000000;
    -webkit-box-shadow: inset 0 0 3px 0 #000000;
    box-shadow: inset 0 0 3px 0 #000000;
    background: -webkit-linear-gradient(bottom,#caf37d 00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -moz-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -o-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -ms-linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
    background: -linear-gradient(bottom,#caf37d  00%,#f2f9e4  51%,#f2f9e4  51%,#caf37d 99%);
}
.pred_radio input[type="radio"],
.pred_radio input[type="radio"],
.pred_radio input[type="checkbox"],
.pred_radio input[type="checkbox"]{
    display: none;
}
.user_pred_list td{
    line-height: 33px!important;
}
.user_pred_list td label{
    line-height: 22px;
}


.lucky_img{
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
}

.article_list.luckyshare_list li>div.center_box p{
    line-height: 24px;
    font-size: 16px;
}
.article_list.luckyshare_list li>div.right_box{
    width: 290px;
}
main.content{
    padding: 0;
    background-image: url('/assets/img/login_bg.jpg');
    overflow: unset;
}
main.content>.container{
    margin: 15px auto;
}

button.toast-close-button{
    display: none;
}
.toast-top-center{
    top:40%;
}
#toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div{
    text-align: center;
    font-size: 26px;
    line-height: 37px;
    background-image: none!important;
    width: 100%;
    padding: 15px;
}
.toast-success {
    background-color: #005d9b;
}
.layer_img_box{
    position: relative;
    cursor: pointer;
}
.layer_img_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.layui-layer-iconext{
    transition: none;
}
.article_comment{
    top:160px;
}
a.btn-warning:visited{
    color: #fff;
    background-color: #f39c12;
    border-color: #f39c12;
}
a.btn-info:visited{
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}
a.btn-danger:visited{
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-xs, .btn-group-xs > .btn{
    padding: 1px 5px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
}
.article_list .right_box .btn{
    float: right;
    margin-left: 5px;
}
.status_box{
    line-height: 50px;
    text-align: center;
}
.status_box span{
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.footer_bottom a:link{
    color: #cbc7c7;
}
.footer_bottom a:link:hover{
    color: #fff;
}
#notify_box{
    position: absolute;
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 1px 0 rgb(34 38 46 / 10%);
    width: 280px;
    top: 90%;
    right: 0;
    display: none;
}
.notifylist a{
    display: block;
    padding: 5px 10px;
}
.notifylist a:not(:last-child){
    border-bottom: 1px #ccc solid;
}
.notifylist a div.title{
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.notifylist a div.cont{
    color: #484747;
}

/* .shade_div{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999999;
    display: none;
}
#notify_box{
    z-index: 9999999;
} */

.service p{
    font-size: 16px;
}
.service>div{
    padding: 15px;
}
.service ul{
    list-style: disc;
    padding-left: 25px;
}

.notifylist p{
    margin: 0;
    padding: 10px 15px;
}

#featured_lish .item .panel-content .title a{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.view_content{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box!important;
    padding-right: 50px;
}

.view_content *{
    line-height: 24px!important;
    font-size: 12px!important;
    background: none!important;
    color: #666!important;
    font-family: "微軟正黑體",Quicksand,Arial,sans-serif!important;
    margin: 0!important;
    padding: 0!important;
    font-style: normal!important;
    font-weight: normal!important;
}
.author{
    float: none;
}

.analysttitle_text{
    font-size: 22px;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    width: 140px;
    margin: 10px auto;
    font-weight: bold;
    color: #19409b!important;
}

.analysttitle_box{
    padding: 0 15px;
}

.analysttitle_box span{
    padding: 1px;
    margin-right: 7px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #19409b!important;
    font-weight: bold;
    display: inline-block;
}
.at_list{
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}
.at_text{
    text-align: center;
    border: 1px #ffd900 solid;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    margin: 0 5px;
    color: #19409b!important;
    font-weight: bold;
}

.at_text span{
    color: #140050;
    text-shadow: none;
    font-weight: bold;
}

.pabox{
    padding: 8px 15px!important;
}
.blbox{
    background: #1c208a!important;
    color: #fff!important;
}
.blbox a.a_title{
    color: #fff!important;
}
.blbox .m_panel.banner h3{
    border-bottom: 3px #f9f9f9 solid!important;
}