
h2 {
    color: #1f499f;
}
.mainconboxinwide {
    width: 100%;
}
.rankpage-title {
    margin: 0 auto;
    text-align: center;
    background-image: url("/assets/img/rank_titleimage.png");
    background-position: center;
    height: 71px;
}
.rank-lists-box,
.rank-lists-universe,
.rank-lists-universe .rank-lists-title,
.rank-lists-universe .rank-unit{
    width: 100%;
}
.rank-lists-universe li {
    width: 100%;
    margin-right: 0;
    padding-left: 14px;
}
.rank-lists-box {
    margin: 0 auto;
}
.rank-lists-universe .rank-unit div strong, .rank-lists-universe .rank-unit h3 {
    color: #214585;
}
.rank-lists .rank-unit .profile h1 {
    padding-left: 10px;
}
.rank-lists .rank-unit-champion .profile h1 {
    padding: 0;
}