
<video controls="true" id="video_player"></video>
<script src="__CDN__/assets/libs/hls/hls.js"></script>
<script>
        var url ='/uploads/ssni288/movie.m3u8';
        // var url ='/uploads/dcv137/movie.m3u8';
        // var url ='/uploads/test/playlist.m3u8';
        // var url ='/uploads/test2/ssis280.m3u8';
        var video = document.getElementById('video_player');
        if(Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(url);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play();
            });
        }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = url;
            video.addEventListener('loadedmetadata',function() {
                video.play();
            });
        }
</script>
