<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>結帳單</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="renderer" content="webkit">

        <link href="__CDN__/assets/css/frontend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
    </head>
    <body>
        <main class="content">
            {__CONTENT__}
        </main>
    </body>

    {include file="common/script" /}
</html>