<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
    </head>
    <body>
        <header>
            <div class="container header-box">
                <div class="logo-box">
                    <a href="{:url('/')}"><img src="__CDN__/assets/img/logo.jpg" /></a>
                </div>
                <div class="right-menu">
                </div>
            </div>
            <!-- 分類選單 -->
            <div class="container menu_list">
                <div class="menu_item">
                    <a href="{:url('/index/godarticle')}?id=3">每日新聞</a>
                    <a href="{:url('/index/godarticle')}?id=1">神人專欄</a>
                    <a href="{:url('/index/godarticle')}?id=4">體育視界</a>
                    <span class="dropdown_btn">
                        <a href="#">百家樂攻略</a>
                        <div class="dropdown_box">
                            <a href="{:url('/index/godarticle')}?id=2">百家樂影片</a>
                            <a href="{:url('/index/index/strategy1')}">百家樂攻略</a>
                            <a href="{:url('/index/index/strategy2')}">百家樂必勝祕笈</a>
                        </div>
                    </span>
                    <span class="dropdown_btn">
                        <a href="#">21點攻略</a>
                        <div class="dropdown_box">
                            <a href="{:url('/index/index/strategy3')}">21點勝利指南</a>
                        </div>
                    </span>
                    <!-- <a href="{:url('index/index/cityRank')}">娛樂城排行</a> -->
                </div>
                <div class="s_box">
                    <form action="{:url('/index/index/search')}">
                        <input type="text" name="keyword" value="{:input('keyword')}" placeholder="我想搜尋..." />
                    </form>
                </div>
            </div>
        </header>
        

        <main class="content">
            {__CONTENT__}
        </main>

        {if $baseAdbanner}
            <div class="ad_banner type{$baseAdbanner->type}">
                <a href="{$baseAdbanner->url}" target="_blank">
                    <img src="{$baseAdbanner->img}"/>
                </a>
                <a href="javascript:;" class="close_btn">X</a>
            </div>
        {/if}

        <footer class="footer" style="clear:both">
            <div class="footer_bottom">
                <p class="container">Copyright&nbsp;©&nbsp; {$site.name} 版權所有&nbsp;|&nbsp;<a href="{:url('index/service')}">服務條款</a>&nbsp;|&nbsp;<a href="{:url('index/policy')}">隱私權政策</a></p>
            </div>
        </footer>

        <script src="__CDN__/assets/libs/swiper/swiper-bundle.min.js"></script>
        <script src="__CDN__/assets/libs/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
        {include file="common/script" /}
    </body>
</html>