<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container isrelative">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:url('/')}">{$site.name}</a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        {if $user}
                        <li><a href="{:url('index/user/profile')}">{:__('Member center')}</a></li>
                        {else /}
                        <li><a href="{:url('user/login')}">{:__('Sign in')}</a></li>
                        {/if}
                    </ul>
                </div>
            </div>
            <!-- 分類選單 -->
            <div>
                <a href="{:url('/index/article')}">全部</a>
                {if $mArticlecat}
                {foreach $mArticlecat as $cat}
                <a href="{:url('/index/article/cat/'.$cat->id)}">{$cat->cat_name}</a>
                {/foreach}
                {/if}
            </div>
        </nav>
        

        <main class="content">
            {__CONTENT__}
        </main>

        <footer class="footer" style="clear:both">
            <p class="copyright">Copyright&nbsp;©&nbsp;2017-{:date('Y',time())} {$site.name} All Rights Reserved</p>
        </footer>

        {include file="common/script" /}

    </body>

</html>