<!DOCTYPE html>
<html>
    <head>
        {include file="common/meta" /}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container isrelative">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:url('/')}"><img src="__CDN__/assets/img/logo.jpg" /></a>
                </div>
                
                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        {if $user}
                        <li><a href="{:url('index/user/notify')}" class="user_btn {if $isnotify > 0}active{/if}"><i class="fa fa-bell"></i></a></li>
                        <li><a href="{:url('index/user/profile')}" class="user_btn active"><i class="fa fa-user-circle-o"></i></a></li>
                        {else /}
                        <li><a href="{:url('index/user/notify')}" class="user_btn"><i class="fa fa-bell"></i></a></li>
                        <li><a href="{:url('user/login')}" class="user_btn"><i class="fa fa-user-circle-o"></i></a></li>
                        {/if}
                    </ul>
                </div>
            </div>
            <hr class="haderline" />
            <!-- 分類選單 -->
            <div class="container menu_list">
                <a href="{:url('/index/article')}">獲利專區</a>
                <a href="{:url('/index/article')}">神人專欄</a>
                <a href="{:url('/index/rank')}">排行榜</a>
                <a href="{:url('/index/article')}">好運分享</a>
                {if $mArticlecat}
                {foreach $mArticlecat as $cat}
                <a href="{:url('/index/article/index/cid/'.$cat->id)}">{$cat->cat_name}</a>
                {/foreach}
                {/if}
            </div>
        </nav>
        

        <main class="content">
            {__CONTENT__}
        </main>

        <footer class="footer" style="clear:both">
            <div class="container footer_top">
                <div class="fb_like">
                    <b>{$site.name}粉絲專頁</b> <div class="fb-like" data-href="https://www.facebook.com/sportgod.cc/" data-width="" data-colorscheme="dark" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                </div>
                <div class="info_list">
                    <a target="_blank" href="https://instagram.com/sportgod.cc">IG</a>&nbsp;|&nbsp;<a href="{:url('index/contact')}">聯絡我們</a>
                </div>
            </div>
            <div class="footer_bottom">
                <p class="container">Copyright&nbsp;©&nbsp; {$site.name} 版權所有</p>
            </div>
        </footer>

        {include file="common/script" /}

    </body>

</html>