<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <br>
            <form id="addgodarticle_form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('api/article/addgodarticle')}">
                <input type="hidden" name="id" value=""/>
                <div class="form-group">
                    <label for="title" class="control-label col-xs-12 col-sm-2">專欄:</label>
                    <div class="col-xs-12 col-sm-8">
                        {:build_select('god_type', $typelist, 0, ['class'=>'form-control', 'data-rule'=>'required'])}
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="control-label col-xs-12 col-sm-2">分類:</label>
                    <div class="col-xs-12 col-sm-8">
                        {:build_select('cat_id', $catlist, 0, ['class'=>'form-control', 'data-rule'=>'required'])}
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="control-label col-xs-12 col-sm-2">標題:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="title" name="title" value="" data-rule="required" placeholder="" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cover_img" class="control-label col-xs-12 col-sm-2">封面:</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="">
                            <input id="cover_img"  class="form-control" size="50" name="cover_img" type="hidden" placeholder="" value="">
                            <button type="button" class="btn btn-danger faupload btn_faupload" data-input-id="cover_img" data-mimetype="image/jpeg,image/png,image/jpg" data-multiple="false" data-preview-id="p-cover_img">上傳照片</button>
                        </label>
                        <ul class="row list-inline faupload-preview" id="p-cover_img"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="control-label col-xs-12 col-sm-2">內文:</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea  class="form-control editor" data-rule="required" name="content"></textarea>
                    </div>
                </div>
                <div class="form-group normal-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed disabled">發表</button>
                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>