
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">我的稱號</h2>
                    {if $mEventcategory}
                        <div class="analyst_title_list">
                            {if $checkAT}
                                {foreach $mEventcategory as $v}
                                    {if $v->mAnalysttitle}
                                    <div>
                                        <h3>{$v->title}</h3>
                                        {foreach $v->mAnalysttitle as $va}
                                            <a href="javascript:;" class="btn btn-info">
                                                {$va->title}
                                            </a>
                                        {/foreach}
                                    </div>
                                    {/if}
                                {/foreach}
                            {else/}
                                <p>沒有獲得稱號</p>
                            {/if}
                        </div>
                    {else/}
                    <p>沒有開放的預測分類</p>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
