<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form id="editarticle_form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('api/article/editarticle')}">
                <input type="hidden" name="id" value="{$mArticle->id}"/>
                <input type="hidden" name="cid" value=""/>
                <div class="form-group">
                    <label for="title" class="control-label col-xs-12 col-sm-2">分類:</label>
                    <div class="col-xs-12 col-sm-8">
                        {:build_select('cat_id', $catlist, $mArticle->cat_id, ['class'=>'form-control', 'data-rule'=>'required'])}
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="control-label col-xs-12 col-sm-2">標題:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="title" name="title" value="{$mArticle->title}" data-rule="required" placeholder="" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label for="img" class="control-label col-xs-12 col-sm-2">照片:</label>
                    <div class="col-xs-12 col-sm-8">
                        <label class="">
                            <input id="img"  class="form-control" size="50" name="img" type="hidden" placeholder="" value="{$mArticle->img}">
                            <button type="button" class="btn btn-danger faupload btn_faupload" data-input-id="img" data-mimetype="image/jpeg,image/png,image/jpg" data-multiple="false" data-preview-id="p-img">上傳照片</button>
                        </label>
                        <ul class="row list-inline faupload-preview" id="p-img"></ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="control-label col-xs-12 col-sm-2">內容:</label>
                    <div class="col-xs-12 col-sm-8">
                        <textarea  class="form-control editor" data-rule="required" name="content">{$mArticle->content}</textarea>
                    </div>
                </div>
                <div class="form-group normal-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" class="btn btn-success btn-embossed disabled">發表</button>
                        <button type="reset" class="btn btn-default btn-embossed">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>