
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">發表的專欄</h2>
                    <ul class="article_list">
                        {if sizeof($mArticle)>0}
                            {foreach $mArticle as $v}
                            <li>
                                <div class="left_box">
                                    <a class="btn btn-xs btn-warning" target="_blank" href="#">{$v->cat_name}</a>
                                </div>
                                <div class="center_box">
                                    <a href="{:url('/index/godarticle/detail/id/'.$v->id)}"><h3>{$v->title}</h3></a>
                                </div>
                                <div class="right_box">
                                    {if $v->status == 1}
                                    <a class="btn btn-danger btn_del" data-id="{$v->id}" href="javascript:;">刪除</a>
                                    <a class="btn btn-info" href="{:url('/index/user/editgodarticle/id/'.$v->id)}">編輯</a>
                                    {else/}
                                    <div class="status_box">{$v->status_str}</div>
                                    {/if}
                                </div>
                            </li>
                            {/foreach}
                        {else/}
                        <li>
                            無收藏
                        </li>
                        {/if}
                    </ul>
                    <div class="page">
                        {$pagelist}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
