
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">通知列表</h2>
                    <div class="notifylist">
                        {if sizeof($mUsernotify)>0}
                            {foreach $mUsernotify as $v}
                            <a href="{:url($v->url)}">
                                <div class="title">{$v->title}</div>
                                <div class="cont">{:nl2br($v->content)}</div>
                            </a>
                            {/foreach}
                        {else/}
                        <p>無通知</p>
                        {/if}
                    </div>
                    <div class="page">
                        {$pagelist}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
