
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="text" id="aid" value="{$analyst_id}">
                    <h2 class="page-header">我要預測 <a class="btn" href="{:url('/index/analyst/profile/id/'.$analyst_id.'/pt/1')}">分析師頁面</a></h2>
                    {if $mEventcategory}
                        <div class="check_style">
                            {foreach $mEventcategory as $v}
                            <a href="{:url('/index/user/pred')}?cat={$v->id}&sdate={$sdate}" class="{if $v->id == $cat_id} active {/if}{if !$v->e_id} dis {/if}">{$v->title}</a>
                            {/foreach}
                        </div>
                    {/if}
                    <hr>
                    <div class="check_style">
                        {foreach $datelist as $k=>$v}
                        <a href="{:url('/index/user/pred')}?cat={$cat_id}&sdate={$k}" class="{if $k == $sdate}active{/if}">{$v}</a>
                        {/foreach}
                    </div>
                    <hr>
                    <form id="pred_form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url($site_url.api.'/user/pred')}">
                        {:token()}
                        <div class="table-row">
                            <table class="table pred_list user_pred_list">
                                <thead>
                                    <tr>
                                        <th width="100px" style="text-align: center;">比賽時間</th>
                                        <th>隊伍</th>
                                        <th>讓分</th>
                                        <th>大小</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {if $mEvent}
                                    {foreach $mEvent as $v}
                                    <tr>
                                        <td style="text-align: center;">{$v->starttime|date='H:i',###}<br>{$v->eventstatus}</td>
                                        <td>{$v->event_str}</td>
                                        <td>{$v->refund}</td>
                                        <td>{$v->bigs}</td>
                                    </tr>
                                    {/foreach}
                                    {else/}
                                        <tr>
                                            <td colspan="5">此分類尚無賽事</td>
                                        </tr>
                                    {/if}
                                <tbody>
                            </table>
                        </div>
                        {if $predBtn}
                            <div style="text-align: center;">
                                <a href="javascript:;" class="btn btn_buy_pred" onclick="$('#pred_form').submit()">送出預測</a>
                            </div>
                        {/if}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
