<style>
    .profile-avatar-container {
        position:relative;
        width:100px;
        margin: 0 0 0 auto;
    }
    @media (max-width: 991px) {
        .profile-avatar-container {
            margin: 0 auto;
        }
    }
    .profile-avatar-container .profile-user-img{
        width:100px;
        height:100px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('Profile')}</h2>
                    <form id="profile-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('api/user/profile')}">
                        {:token()}
                        <input type="hidden" name="avatar" id="c-avatar" value="{:$user->getData('avatar')}" />
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="profile-avatar-container">
                                        <img class="profile-user-img img-responsive img-circle" src="{$user.avatar|cdnurl}" alt="">
                                        <div class="profile-avatar-text img-circle">{:__('Click to edit')}</div>
                                        <button type="button" id="faupload-avatar" class="faupload" data-mimetype="png,jpg,jpeg,gif" data-input-id="c-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 col-md-3">神人資格:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <label class="control-label">{if $user.isgod == 1}<span class="text-warning">是{else/}否{/if}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 col-md-3">帳號:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <label class="control-label">{$user.username|htmlentities}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="nickname" class="control-label col-xs-12 col-sm-2 col-md-3">{:__('Nickname')}:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <input type="text" class="form-control" id="nickname" name="nickname" value="{$user.nickname|htmlentities}" data-rule="required;nickname;remote({:url('api/validate/check_nickname_available')}, id={$user.id})" placeholder="" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label col-xs-12 col-sm-2 col-md-3">{:__('Email')}:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <input type="text" class="form-control" id="email" name="email" value="{$user.email|htmlentities}" data-rule="required;email;remote({:url('api/validate/check_email_available')}, id={$user.id})" placeholder="" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="control-label col-xs-12 col-sm-2 col-md-3">{:__('Mobile')}:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <input type="text" class="form-control" id="mobile" name="mobile" value="{$user.mobile|htmlentities}" data-rule="required;mobile;remote({:url('api/validate/check_mobile_available')}, id={$user.id})" placeholder="" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label col-xs-12 col-sm-2 col-md-3">密碼:</label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <input type="password" class="form-control" id="password" name="password" value="" data-rule="password" placeholder="若不修改請留空" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group normal-footer">
                                <label class="control-label col-xs-12 col-sm-2 col-md-3"></label>
                                <div class="col-xs-12 col-sm-10 col-md-9 ">
                                    <button type="submit" class="btn btn-success btn-embossed disabled">儲存修改</button>
                                    <button type="reset" class="btn btn-default btn-embossed">放棄修改</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-layer {height:100%;min-height:150px;min-width:300px;}
    .form-body {
        width:100%;
        overflow:auto;
        top:0;
        position:absolute;
        z-index:10;
        bottom:50px;
        padding:15px;
    }
    .form-layer .form-footer {
        height:50px;
        line-height:50px;
        background-color: #ecf0f1;
        width:100%;
        position:absolute;
        z-index:200;
        bottom:0;
        margin:0;
    }
    .form-footer .form-group{
        margin-left:0;
        margin-right:0;
    }
</style>
