
{__NOLAYOUT__}
<div class="panel-body popup_box">
    <form id="mform5" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url($site_url.api.'/user/addcustomertag')}" >
        {:token()}
        <input type="hidden" name="line_user_id" value="{$line_user_id}" >
        <div class="form-group">
            <div class="col-xs-12">
                <input type="text" class="form-control" id="tag_name" name="tag_name" value="" data-rule="required" placeholder="標籤名稱">
            </div>
        </div>
        <div class="form-group normal-footer">
            <div class="col-xs-12">
                <a class="btn btn-warning btn-full" href="javascript:;" onclick="$('#mform5').submit()">儲存</a>
            </div>
        </div>
    </form>
</div>