<div class="panel panel-default">
    <div id="step01_box" class="step_box" style="display: none;">
        <h1>註冊</h1>
        <div class="panel-body">
            <form id="mform" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" >
                {:token()}
                <input type="hidden" id="form_line_user_id" name="line_user_id" value="----">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">姓名:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="username" name="username" data-rule="required" value="" autocomplete="off" placeholder="{:__('Username must be 2 to 10 characters')}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">手機:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="number" class="form-control" id="mobile" name="mobile" data-rule="required" value="" autocomplete="off" placeholder="手機號碼">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">信箱:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="text" class="form-control" id="email" name="email" data-rule="required" value="" autocomplete="off" placeholder="信箱">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">密碼:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" data-rule="required" value="" autocomplete="off" placeholder="{:__('Password must be 6 to 30 characters')}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">確認密碼:</label>
                    <div class="col-xs-12 col-sm-8">
                        <input type="password" class="form-control" id="password2" name="password2" data-rule="required" value="" placeholder="再次輸入密碼">
                    </div>
                </div>
                <div class="form-group normal-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <a class="btn btn-info btn-full" href="javascript:;" onclick="$('#mform').submit()">完成註冊</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="step02_box" class="step_box">
        <div id="step02_box_error" class="error_msg">
            讀取資料中請稍後...
        </div>
    </div>
</div>