{__NOLAYOUT__}
<div class="panel-body">
    <form id="mformlayer" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url($site_url.api.'/user/buytime')}" >
        {:token()}
        <input type="hidden" id="form_line_user_id" name="line_user_id" value="{$line_user_id}">
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                {:build_select('buylist', $buylist)}
            </div>
        </div>
        <div class="form-group normal-footer">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <a class="btn btn-warning btn-full" href="javascript:;" onclick="$('#mformlayer').submit()">確定續約</a>
            </div>
        </div>
    </form>
</div>